body {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}

h1, h2, p, span {
  font-weight: 500;
  font-family: helvetica;
}

h1, h2 {
  margin: 0px 20px;
  font-size: .8em;
}


.card-panel {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin: 10px;
  padding: 20px 0px;
  width: auto;
  box-shadow: 2px 2px 7px rgba(33,33,33,0.2);
}

.bar {
  fill: #003f5c;
}

.empty-bar {
  fill: #d8d8d8;
}

.bc-yaxis .tick line, .bc-yaxis .domain, 
.bc-xaxis .tick line, .bc-xaxis .domain, 
.lc-yaxis .tick line, .lc-yaxis .domain, 
.lc-xaxis .tick line, .lc-xaxis .domain {
  display: none;
}


.gridlines .tick line {
  stroke: #a8a8a8;
  stroke-dasharray: 2, 2;
}

.first-line {
  fill: none;
  stroke: #ff6361;
  stroke-width: 2;
}

.first-point-set {
  fill: #ff6361;
  stroke-width: none;
}

.second-line {
  fill: none;
  stroke: #58508d;
  stroke-width: 2;
}

.second-point-set {
  fill: #58508d;
  stroke-width: none;
}

.nav-sidebar {
   height: 100%; 
  width: 200px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #424242; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.main-content {
  margin-left: 275px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile-icon {
  color: rgba(255, 255, 255, 0.75);
  font-size: 100px;
}

.profile-pic {
  display: flex;
  justify-content: space-around;
}

.username-text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.section { 
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.selected {
  background-color: rgba(50, 100, 200, 0.4);
}

.dashboard-icon {
  color: rgba(255, 255, 255, 0.75);
  margin: .3em;
}

.white-text {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 800px) {
  .nav-sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0px;
  }
  .card-panel {
    max-width: 400px
  }
}