body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}

.bar-chart, .line-chart, .donut-chart {
	padding: 20px;
  margin: 0 auto;
  padding-left: 30px;
}

.bar {
	fill: steelblue;
}

.bar-chart-card, .line-chart-card, .donut-chart-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 550px;
  border-radius: 5px;
  margin: 20px;
}

.donut-chart-card {
  height: 450px;
  justify-content: center;
}



.text {
  font-family: helvetica;
  color: #555555;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 17px;
}

.donut-chart-container {
  margin: 20px auto;
}