body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
h1, h2 {
  font-weight: 500;
  font-family: helvetica;
  font-size: .8em;
  margin: 0px 20px;
}

#bc-fake-data, #lc-fake-data, #dc-fake-data {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  margin: 10px;
  padding: 20px 0px;
}

.bar {
  fill: #4784ED;
}

.empty-bar {
  fill: #d8d8d8;
}

.bc-yaxis .tick line, .bc-yaxis .domain, 
.bc-xaxis .tick line, .bc-xaxis .domain, 
.lc-yaxis .tick line, .lc-yaxis .domain, 
.lc-xaxis .tick line, .lc-xaxis .domain {
  display: none;
}


.gridlines .tick line {
  stroke: #a8a8a8;
  stroke-dasharray: 2, 2;
}

.first-line {
  fill: none;
  stroke: #C71B75;
  stroke-width: 2;
}

.first-point-set {
  fill: #C71B75;
  stroke-width: none;
}

.second-line {
  fill: none;
  stroke: #7B35E4;
  stroke-width: 2;
}

.second-point-set {
  fill: #7B35E4;
  stroke-width: none;
}
